.bg-1 { 
    background-color: #36578c; /* Green */
    color: #ffffff;
    }
#hawcwaiver {
    text-decoration: none;
    color: #fff;
    }
#hawctext {
    color: #36578c;
    }
#itals {
    color: #ef0b1e;
    }
input.invalid, textarea.invalid, option.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid, option.valid{
    border: 2px solid green;
}
