.bg-1 { 
    background-color: #36578c; /* Green */
    color: #ffffff;
    }
#hawcwaiver {
    text-decoration: none;
    color: #fff;
    }
#hawctext {
    color: #36578c;
    }
#itals {
    color: #ef0b1e;
    }